# Bulky regen-able artifacts
blender/*.blend
hd_imagery/esri_z*/**/*.jpg
sentinel2/B0*.tif
sentinel2/SCL.tif
landcover/ESA_WorldCover_10m_*.tif
dem/nasadem_elevation.tif
dem/alos-dem_data.tif
dem/cop-dem-glo-30_data.tif
dem/sentinel-1-rtc_*.tif
osm/overpass_monday.json
__pycache__/
*.pyc
